:root{
    --color-btn: #A52A2A;
    --primary-text-color: #C0C0C0;
    --secondary-text-color: #696969;
    ---border-btn: rgba(172, 172, 172, 0.3);
}

.login{
    width: 100%;
    height: 80vh;
    background: white;
}

.login-container {
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}

.login-container h1{
    margin: 20px 0px;
}

.login-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}

.login-fields input{
    height: 40px;
    width: 70%;
    padding-left: 20px;
    border: 1px solid var(---border-btn);
    outline: none;
    color: var(--primary-text-color);
    font-family: 18px;
}

.login-container button{
    width: 75%;
    height: 40px;
    color: white;
    background-color: var(--color-btn);
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.signup-login{
    margin-top: 20px;
    color: var(--secondary-text-color);
    font-size: 15px;
    font-weight: 500;
}


.login-link{
    color: rgb(251, 86, 86);
    font-weight: 600;
    text-decoration: none;
}
