:root{
    --color-btn: #A52A2A;
    --primary-text-color: #2F4F4F;
    --secondary-text-color: #696969;
    --border-btn:  1px solid  rgba(172, 172, 172, 0.3);
    --btn-text-color: #000000;
    --hr-color: rgb(152, 151, 151, 0.4);

    --product-box-shadow: -7px 13px 13px -7px rgba(60, 59, 59, 0.4);
}


.offers {
    width: 75%; 
    height: 65vh;
    display: flex;
    margin: 200px auto 50px;
    background: linear-gradient(160deg, rgb(71, 72, 72), white 60%);
    border-radius: 15px;
    padding: 20px; 
}

.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1{
    color: black;
    font-size: 60px;
    font-weight: 600;
}

.offers-left p{
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.offers-left button{
    width: 160px;
    height: 50px;
    border-radius: 25px;
    background: var(--color-btn);
    border: none;
    color: var(--btn-text-color);
    font-size: 22px;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}

.offers-rigth img{
    height: 65vh;
}