.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* background: linear-gradient(180deg, rgb(61, 60, 61, 0.4),  white 100%); */
    background: linear-gradient(180deg,white, rgb(61, 60, 61, 0.4) 60%);;
    padding-top: 10px;
    margin-top: 100px;
}

:root{
    --color-btn: #A52A2A;
    --primary-text-color: #2F4F4F;
    --secondary-text-color: #696969;
    --border-btn:  1px solid  rgba(172, 172, 172, 0.3);
    --btn-text-color: #000000;
    --hr-color: rgb(152, 151, 151, 0.4);
    --product-box-shadow: -7px 13px 13px -7px rgba(60, 59, 59, 0.4);
}

.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: var(--secondary-text-color);
    font-size: 14px;
}

.footer-links li {
    cursor: pointer;
}

.newsletter h1{
    color: black;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 3px;
    margin: 8px;
}

.newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 350px;
    height: 40px;
    border-radius: 60px;
}

.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    font-family: Poppins;
    font-size: 15px;
}

.newsletter div button{
    width: 140px;
    height: 40px;
    border-radius: 60px;
    background: var(--color-btn);
    color: var(--btn-text-color);
    cursor: pointer;
    font-size: 15px;
    border: none;
}

.footer-social-icon{
    display: flex;
    gap: 40px;
} 

.footer-icon-container{
    border: none;
}

.footer-icon-container img {
    height: 20px;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
    color: black;
    font-size: 13px;
}

.footer-copyright hr{
    width: 65%;
    border: none;
    height: 1px;
    background: rgb(77, 76, 76, 0.4);;
}
